*{
    margin:0;
    padding:0;

}
html,body{
    height:100%;
}
header{
    width:500px;
    /* grosor borde */
    border-width:2px;
    /* estilo */
    border-style:groove;
    /* color borde */
    border-color:rgb(100,200,250);


}
.section1{
    height:300px;
    /* border:1 px solid green; */
    border-top:5px dashed blue;
    border-right:5px solid yellow;
    border-bottom:5px groove red;
    border-left:5px dotted green ;
}
.section2{
    height:300px;
    width:300px;
    border:2px solid purple;

}
.section3{
    height:200px;
    width:200px;
    border:2px solid black;
    border-top-left-radius:20px;
    border-top-right-radius:10px;
    border-bottom-left-radius:40px;
    border-bottom-right-radius:30px;
    /* centra la figura por mas q se anche la ventana etc */
    margin:0 auto;


}