*{
    margin:0;
    padding:0;
}
html,body{
    height: 100%;
}
header{
    margin:20px auto;
    width:600 px;
    border:2px solid #299970;
    /* Color tamaño-x tamaño-y y difuinacion(blur) */
    box-shadow:red 10px 5px 10px;
}